<app-navbar></app-navbar>
<ng-container body>
  <div class="groups">
    <div class="container">
      <br>
      <br>
      <table class="table">
        <tr>
          <td style="color: white">#</td>
          <td style="color: white">Name</td>
        </tr>
        <tr *ngFor="let taskList of groupList">
          <td style="color: white">{{taskList.id}}</td>
          <td style="color: white">{{taskList.title}}</td>
          <td>
            <a routerLink="/groups/{{taskList.id}}/">Выбрать</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>

