<app-navbar></app-navbar>
<ng-container body>

  <div class="row" *ngFor="let taskList of qaList">
    <div class="container back" style="margin-top: 50px">

      <div class="row justify-content-center text-light mb-3 mt-1">
        <h3 class="card-title text-center"></h3>
      </div>

      <div class="row card shadow p-4 bg-white justify-content-center">
        <div class="card-body">
          <h5 class="card-title text-center mt-3">{{taskList.question}}</h5>
        </div>
      </div>


      <div class="row justify-content-center mt-5">
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">{{taskList.answer_1}}</button>
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">{{taskList.answer_2}}</button>
      </div>

      <div class="row justify-content-center">
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">{{taskList.answer_3}}</button>
        <button class="btn card card-body shadow-sm col-xl-3 col-lg-3 col-md-4 col-sm-5 col-6 mr-3 mb-3">{{taskList.answer_4}}</button>
      </div>
    </div>
  </div>
<!--  <div class="container">-->
<!--    <br>-->
<!--    <br>-->
<!--    <table class="table">-->
<!--      <tr>-->
<!--        <td>#</td>-->
<!--        <td>Quiestion</td>-->
<!--        <td>A1</td>-->
<!--        <td>A1</td>-->
<!--        <td>A3</td>-->
<!--        <td>A4</td>-->
<!--        <td>A Right</td>-->
<!--      </tr>-->
<!--      <tr *ngFor="let taskList of qaList">-->
<!--        <td>{{taskList.id}}</td>-->
<!--&lt;!&ndash;        <td>{{taskList.id_group}}</td>&ndash;&gt;-->
<!--        <td>{{taskList.question}}</td>-->
<!--        <td>{{taskList.answer_1}}</td>-->
<!--        <td>{{taskList.answer_2}}</td>-->
<!--        <td>{{taskList.answer_3}}</td>-->
<!--        <td>{{taskList.answer_4}}</td>-->
<!--        <td>{{taskList.answer_right}}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
</ng-container>


