<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<section id="intro" class="clearfix">
    <div class="container">
           
      <div class="intro-info">
        <h2>Регистрация</h2>
                
        <input type="mail" id="mail_reg" class="btn btn-primary" placeholder="Почта">
        <input type="text" id="nick_reg" class="btn btn-primary" placeholder="Никнейм">
        <input type="password" id="passw_reg" class="btn btn-primary" placeholder="Пароль">
        <input type="password" id="passw2_reg" class="btn btn-primary" placeholder="Подтвердите пароль">
        
        <div>
            <a routerLink="/profile" class="btn-get-started scrollto">Войти</a>
            <a routerLink="/registration" class="btn-get-started scrollto" style="float:right">Зарегистрироваться</a>
            
        </div>
      </div>
      
      
    </div>
  </section>