<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<section id="intro" class="clearfix">
    <div class="container">
      
      <div class="intro-info">
        <h2>Войдите в аккаунт</h2>
        <input id="mail_sign" type="text" class="btn btn-primary" placeholder="Почта/никнейм">
        <input id="passw_sign" type="password" class="btn btn-primary" placeholder="Пароль">
        
        <div>
          <a routerLink="/registration" class="btn-get-started scrollto">Зарегистрироваться</a>
          <a routerLink="/profile" class="btn-get-started scrollto" style="float:right;">Войти</a>
        </div>
      </div>
      
      
    </div>
  </section>

